.main{
    margin: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main img{
    width: 65%;
    border-radius: 7px;

}

.main h3{
    font-size: 30px;
    font-weight: 700;
    width: 95%;
    text-align: right;
    margin: 40px 0;
}

.container{
    box-shadow: 0 0 25px -15px rgb(0, 0, 0,0.9);
    padding: 10px;
    border-radius: 7px;
    width: 95%;
margin: 15px 0;
}

.subcon{
    display: flex;
    align-items: center;
    padding: 10px;
}
.subcon p{
    margin-right: 15px;
}
.subcon span{
    margin-right: 30px;
    line-height: normal;
}

.btn{
padding: 20px 40px;
font-size: 25px;
border: none;
background-color: #053e10;
color: #fff;
font-weight: 700;
border-radius: 10px;
cursor: pointer;

}










@media only screen and (min-width:768px){
  
  
}
@media only screen and (min-width:1268px){
  
  
}